@using Cinema.Models
@model IEnumerable<Cinema.Models.MOVIE>
@{
    ViewBag.Title = "MovieFeature";
    Layout = "~/Views/Shared/_HomePage.cshtml";
}

<div class="list-films-future x" id="future">
    <div class="row">
        <div class="col-3"></div>
        <div class="list-films col-6">
            <div class="list-films-title mt-4">
                <h5>PHIM SẮP CHIẾU</h5>
                <div class="content-title-line mb-5"></div>
            </div>
            @foreach (var item in ViewBag.future)
            {
                <div class="container-horizontal-line my-5"></div>
                <div class="list-film-item pb-5 row">
                    <div class="col-md-2 ">
                        <a href="/HomePage/Details?id=@item.MovieID" class="poster-list mr-0" onclick="redirect('profile')">
                            <img src="~/images/movie/poster/@item.PosterLink">
                        </a>
                    </div>
                    <div class="col-md-8  ">
                        <div class="filmInfo float-left" onclick="redirect('profile')">
                            <a href="/HomePage/Details?id=@item.MovieID"><h3>@item.MovieName</h3></a>
                            <li>@item.MovieLength mins</li>
                            <li>Dành cho độ tuổi @item.Rate+ </li>
                            <li>Thể loại: @item.Category</li>
                            <li>Đạo diễn: @item.Director</li>
                            <li>Diễn viên: @item.Actor</li>
                        </div>
                        
                    </div>
                </div>}
            
            <div class="col-2"></div>
        </div>
    </div>
</div>


